@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #242a28; */
  /* background: radial-gradient(#70d0c0, #45b1a2); */
  background-image: url('../src/assets/bg.jpeg');
  background-size: cover;
  color: #e1eeeb;
}
